* {
    box-sizing: border-box;
}

/* Body style*/
body {
    font-family: Georgia, serif;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50px;
    align-items: center;
}

/* Header style */
.header {
    padding: 5px;
    text-align: center;
    background: #66ccff;
    color: white;
}

/* Landing p font size */
.p-landing{
    font-size: 130%;
    font-family: cursive;
}

/* Landing footer style */
.footer {
    padding: 0px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:  #77aadd ;
    color: black;
    text-align: center;
    font-family: serif;
  }

/* topnavigatorbar style */
.topnavigatorbar {
    overflow: hidden;
    background-color: #33cccc;
    width: 100%;
}

.topnavigatorbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.topnavigatorbar a.right {
    float: right;
}

/* Image size */
img {
    width: 30%;
    height: auto;
    max-width: 500px;
}

/* Text field style */
input[type=text], input[type=tel], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Submit/Login button */
input[type=submit] {
    background-color: #1abc9c;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    float: right;
    width: 75%;
}

/* Container style */
.container {
    border-radius: 50px;
    background-color: #f0f0e7;
    padding: 20px;
    text-align: center;
}

/* Column container */
.main {
    -ms-flex: 100%;
    /* IE10 */
    flex: 100%;
    background-color: rgb(255, 255, 255);
    padding: 100px;
    text-align: center;
}

/* Text label */
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* When  screen <600px style */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
    .header h1 {
        font-size: 8vw;
    }
    .header p {
        font-size: 4vw;
    }
    .main {
        padding: 10px;
    }
    button[type=submit] {
        width: 100%;
    }
    .row {
        width: 100%;
    }
    .main-landing {
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

/* When  screen >1000px style */
@media screen and (min-width: 601px) {
    .container {
        width: 50%;
        margin: auto;
    }
    .header h1 {
        font-size: 4vw;
    }
    .header p {
        font-size: 2vw;
    }
    .main {
        padding: 20px;
        width: 100%;
    }
    button[type=submit] {
        width: 30%;
    }
    .row {
        width: 80%;
    }
    .main-landing {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.col-25 {
    float: left;
    width: 30%;
}

.col-75 {
    float: left;
    width: 70%;
}

.row {
    padding: 10px;
    text-align: center;
    display: inline-block;
}
